<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
              rel="stylesheet"/>

        <title>Lista de Convidados</title>

    </head>
    <body>
        <div class="panel panel-default" style="margin: 10px">
            <div class="panel-heading">
                <h1 class="panel-title">Lista de convidados</h1>
        </div>
            <form class="form-inline" method="post" th:object="${convidado}" th:action="@{/convidados}" style="margin: 20px 0">
                <div class="form-group">
                    <input type="text" class="form-control"
                    placeholder="Nome"
                    th:field="*{nome}"/>
                    <input type="text" class="form-control"
                    placeholder="Acompanhantes"
                    th:field="*{quantidadeAcompanhantes}"/>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Acompanhantes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="convidado : ${convidados}">
                            <td th:text="${convidado.nome}">Joao</td>
                            <td th:text="${convidado.quantidadeAcompanhantes}">3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>




    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </body>
</html>